<h3><%= Spree.t(:my_shared_lists) %></h3>
<ul>
<% @user.shared_lists.each do |sl| %>
  <li><%= link_to sl.name, sl %></li>
<% end -%>
</ul>

<h3><%= Spree.t(:shared_lists_shared_with_me) %></h3>
<ul>
<% @user.shared_shared_lists.each do |sl| %>
  <li><%= link_to sl.name, sl %></li>
<% end -%>
</ul>
